@model IEnumerable<Biblioteca.Models.Livro>

<div class="parallax pt-4 d-flex justify-content-evenly flex-wrap">
    @foreach (var livro in Model)
    {
        <div class="card text-center mt-2 mb-3" style="width: 16rem;">
            <div class="w-100 text-center mt-3">
                <img src="@(string.IsNullOrEmpty(livro.UrlCapa) ? Url.Content("~/img/sem-imagem.jpg") : Url.Action("BuscarCapa", "Livros", new { id = livro.LivroId }))"
                     class="card-img-top img-fluid"
                     alt="Capa do Livro" style="height: 200px; object-fit: cover;" />
            </div>
            <div class="card-body">
                <h4 class="card-title">@livro.Titulo</h4>
                <h5 class="lead">@livro.Autor</h5>
                <p class="mb-1"><span class="badge bg-secondary">@livro.Genero?.Nome</span></p>
                <p class="text-center">
                    <a asp-controller="Reservas" asp-action="Create" asp-route-LivroId="@livro.LivroId" class="card-link btn btn-dark">Reservar</a>
                </p>
            </div>
        </div>
    }
</div>

